@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
font-family:'Rubik',Arial, Helvetica, sans-serif;

}

.wrapper {
    display:grid;
    grid-template-columns:50% 50%;
    grid-gap: 2em;
    grid-auto-rows: 260px;
    justify-items: center;
}


#wrapper-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 30px;
}


#welcome {
    font-size: 30px;
    background-color:#fcd2fb;
    text-align: center;
    border-radius: 5px;
}

#winning {
    background-color: #fac3f9;
}

.clignote {
    color:#46a9f0;
    animation: clignote 1s linear infinite;
  }
  @keyframes clignote {  
    50% { opacity: 0; }
  }

  #transparent {
    background-color: transparent; 
    top: 0px; 
    left: 0px; 
    position: absolute; 
    width: 500px; 
    height: 380px; 
    z-index:9999"
  }

  #container {
    width:500px; 
    height:380px;
  }

#container-flex {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

iframe {
    border: 2px #fac3d7 solid;
    border-radius:5px;
    }

#losing {
  background-color: #82422f;
}

#card1, #card2 {
  width: 340px; 
}

.btn {
  border-radius: 15px;
  background-color: #f2edf1;
  text-transform: uppercase;
  font-weight:bold ;
  font-size: larger;
}
/*#card1, #card2 a:focus
{
 background-color:yellow;
}*/
.btn:focus {
  outline: none;
}
.btn:focus-visible {
  outline: 10px solid blanchedalmond; 
  background-color:yellow;
}

#page2 {
  background-color: #fae8f6;
}

div.ball img {
  margin-top: 300px;
  border-radius: 10%;
  width: 300px;
  height: 300px;
  background-color: cornflowerblue;
  border: 2px solid #999;
  animation: bounce 0.5s 2s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}

 div.fixe img {
  margin-top: 200px;
  border-radius: 10%;
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  border: 2px solid #999;
  
} 

#rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  
}
.start {
  width: 400px;
  height: 150px;
  border:black 1px solid;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.start-text {
  text-decoration: none;
  font-size: larger;
  color: black;
}

.titre {
margin:80px 50px 50px 50px;
}

.paragraph {
margin:50px;
}

#container-losing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  font-size: larger;
}

#homepage {
  background-color:#fcd2fb;
  text-align: center;
}